$white: #f6f6f6;

@import "normalize.css";

@import "retina-background-image";

body {
  background-color: $white;
}

p {
  margin: 10px;
}

#button {
  @include retina-background-image('button.png', 'button@2x.png');

  height: image-height('button.png');
  width: image-width('button.png');

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: background-color 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  display: inline-block;

  &:active {
    background-position: bottom;
  }

  &.online {
    background-color: #77CF21;
  }

  &.offline {
    background-color: #FC3A3D;
  }
}

