$white:  #f6f6f6;
$red:    hsl(6, 78%, 57%);
$orange: hsl(48, 89%, 50%);
$green:  hsl(145, 63%, 49%);

@import "normalize.css";
@import "retina-background-image";

body {
  background-color: $white;
}

p {
  margin: 10px;
}

@keyframes red-to-green {
  0% {
    background-color: $red;
  }

  30% {
    background-color: change-color($red, $hue: 48, $saturation: 89%, $lightness: 50%);
  }

  100% {
    background-color: change-color($red, $hue: 145, $saturation: 63%, $lightness: 49%);
  }
}

#button {
  @include retina-background-image("button.png", "button@2x.png");

  height: image-height("button.png");
  width: image-width("button.png");

  display: inline-block;

  background-color: $red;

  &:active {
    background-position: bottom;
  }

  &.online {
    animation-duration: 0.5s;
    animation-name: red-to-green;
    animation-timing-function: ease-in-out;

    background-color: $green;
  }
}

