$white: #f6f6f6;

@import "normalize.css";

@import "retina-background-image";

body {
  background-color: $white;
}

p {
  margin: 10px;
}

#button {
  @include retina-background-image('button.png', 'button@2x.png');

  height: image-height('button.png');
  width: image-width('button.png');

  display: inline-block;

  background-color: #77CF21;

  &:active {
    background-position: bottom;
  }
}

