@import url(normalize.css);
body {
  background-color: #f6f6f6; }

p {
  margin: 10px; }

#button {
  background-image: url('../images/button.png?1358961742');
  height: 181px;
  width: 181px;
  display: inline-block;
  background-color: #77CF21; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi) {
    #button {
      background-image: url('../images/button@2x.png?1358961742');
      background-size: 181px 181px; } }
  #button:active {
    background-position: bottom; }
